
body { background-color:#fff;}
* { padding: 0px; margin :0px; }

ul, li { list-style: none; }
.mainContainer { }
.containerPlayer, .containerSource {/* display:inline-block; float:left; padding:10px; margin:0px 10px; */}

.snippet { width:70%; border:1px solid #ccc; border-radius:5px; min-height:280px; max-height:280px; color:#fff; background-color:#343434; margin-top:1rem;  }
.snippet:nth-child(2) { margin-top:2rem; }
.snippet pre { max-height:230px; padding:5px; }
.snippet h4 { padding:10px; color:#343434; background-color:#00bd9b; }

/* Playlist */
#listContainer { width:100%; background-color:#fafafa;  }
#listContainer ul { background-color: #fafafa; clear: both; cursor: pointer;  }
#listContainer li { padding:10px; }
#listContainer li:nth-child(even) { background-color:#efefef; }
#listContainer li:hover, #listContainer li:nth-child(even):hover { background-color:#00bd9b; color:#fff; }
#listContainer li a { text-decoration: none; color:#4e4f4f; }
#listContainer li.activeAudio { background-color:#00bd9b; }


/* Player Controls */
#playerContainer { width:100%; height:130px; }
.controlsAudio li:first{margin-right:10px}
.controlsAudio li { float:left; display:inline-block; width:50px; text-align:center; margin-top:8px;margin-left:10px }

.controlsAudio li a { display:inline-block; }
.playAudio,.play { background-image:url(../images/pause.png); background-repeat:no-repeat; background-size:23px; width: 23px; height: 30px; margin:auto; }
/*.playAudio:hover { background-image:url(../images/pause.png); background-repeat:no-repeat; background-size:23px; }*/
.pauseAudio { background-image:url(../images/ply.png); background-repeat:no-repeat; background-size:26px; width: 26px; height: 30px; margin:auto; }
/*.pauseAudio:hover { background-image:url(../images/ply.png); }*/
.shuffle { display:none !important; background: url('../images/audio/audio_icons.png') no-repeat -28px -96px; width: 32px; height: 32px; margin:auto; }
.shuffleActive, .shuffle:hover { background: url('../images/audio/audio_icons.png') no-repeat -28px -71px; width: 32px; height: 32px; margin:auto; }
.left { background-image:url(../images/lft.png); background-repeat:no-repeat; background-size:31px; width: 31px; height: 31px; margin:auto; margin-top:4px; }
.left.disabled, .right.disabled { opacity:0.4; cursor:default; }
.right { background-image:url(../images/rgt.png); background-size:31px; background-repeat:no-repeat; width: 31px; height: 31px; margin:auto; margin-top:4px; }
.repeat { display:none !important; background: url('../images/audio/audio_icons.png') no-repeat -4px -103px; width: 21px; height: 21px; margin:auto; margin-top:7px; }
.repeat:hover, .repeat.loopActive { background: url('../images/audio/audio_icons.png') no-repeat -4px -79px; }
.volume { width: 20px; height: 20px; margin-left:5px; margin-right:5px; float:left; background: url('../images/audio/audio_icons.png') no-repeat; }
.volume1 { background-position: -5px -150px; }
.volume2 { background-position: -5px -198px; }
.volume3 { background-position: -5px -246px; }
.mute { background-position: -34px -127px; }
.progress { clear:both; height:4px; background-color:#666666; width:100%; cursor:pointer; position:relative; }
.progress .updateProgress { width:0px; background-color:#f4141a; height:100%; float:left; position:relative; }
.volumeControl { position: relative; margin: 8px auto; }
.volumeControl .updateProgress { display:inline-block; vertical-align:middle; margin-top:2px; }
input[type="range"] { -webkit-appearance: none; -moz-appearance: none; background-color: #00BD9B; height: 2px; }
.audioDetails { clear:both; color:#fff; font-size:13px; padding:5px; }
.audioTime { text-align: right; margin-bottom:10px; color:#8d8d8d; font-weight:bold; }
.songPlay {  }
.seekableTrack { width: 0%; background-color:#666666; height: 4px; position: absolute; z-index: 0; display: block; }
.seekableTrack, .progress .updateProgress { -webkit-transition: width 0.6s ease; -moz-transition: width 0.6s ease; -o-transition: width 0.6s ease; transition: width 0.6s ease; }
.trk_blk .wrapper {
    width: 90%;
    margin: 0 auto;
}
.trk_ply .wrapper {
    width: 90%;
    margin: 0 auto;
}
.trk_blk { width:100%; display:inline-table; background-image:url(../images/soundtrk_bg.jpg); background-size: cover;  margin-top:75px;}
.trk_inf { width:100%; display:inline-table; margin-bottom:20px; margin-top: 20px; /*-webkit-box-shadow: -4px 0px 52px -9px rgba(0,0,0,0.75);
-moz-box-shadow: -4px 0px 52px -9px rgba(0,0,0,0.75);
box-shadow: -4px 0px 52px -9px rgba(0,0,0,0.75);*/}
.trk_inf .trk_img { width:100%; height:auto; float: left; margin-right:15px; -webkit-box-shadow: -4px 0px 52px -9px rgba(0,0,0,0.75);
-moz-box-shadow: -4px 0px 52px -9px rgba(0,0,0,0.75);
box-shadow: -4px 0px 52px -9px rgba(0,0,0,0.75);}
.trk_inf .trk_img img { width:100%;}
.trk_inf .trk_dt { float:left; width:100%; height:auto; position:relative}
.trk_inf .trk_dt h2 { font-size:18px; color:#4b5460; margin-top:0px;}
.trk_inf .trk_dt h3 { font-family:'Futura-CondensedMedium';  margin-top: 15px; font-size:20px; color:#d70808;}
.shre { width:35px; height:35px; float:right; background-image:url(../images/share.png); background-size:35px; position:absolute; bottom:0px; right:0px;}
.bdr1 { width:90%; height:2px; background-color:#818181; display:inline-table; float:right;}
.snd_trks { width:90%; float:right; display:inline-table;}
.snd_trks ul { margin:0px; padding:0px;}
.snd_trks ul li { list-style:none;  font-family:'Wicked Grit'; font-size:20px;}
.snd_trks ul li a {   font-family: 'futura'; font-size:18px; width:100%; float:right; padding-top:15px;  color:#4b5460 !important; text-decoration:none;} 
.snd_trks ul li a span { width:90%; float:right;  border-bottom:solid 2px #818181; padding:0px 0px 15px 0; color:#4b5460;}
.snd_trks #listContainer li { padding:0px;}
.trk_ply { width:100%; display:inline-table; background-color:#3a3939; padding:15px 0; margin-top:15px;}
.trk_ply .st_img { float:left; width:60px; margin-right:10px; }
.trk_ply .st_img img { width:100%; -webkit-box-shadow: -4px 3px 91px -4px rgba(0,0,0,0.53);
-moz-box-shadow: -4px 3px 91px -4px rgba(0,0,0,0.53);
box-shadow: -4px 3px 91px -4px rgba(0,0,0,0.53);}
.trk_ply .st_tit { float:left; width:140px; height:30px; overflow:hidden; margin-right:5px; font-family:'Wicked Grit'; font-size:20px; color:#fff; line-height:24px; margin-top:15px;}
.trk_ply .st_cnr { float:right; width:100px; margin-top:25px;     margin-top: 18px;}
.trk_ply .st_cnr .pse { width:30px; height:30px; float:left; background-image:url(../images/pause.png); background-repeat:no-repeat; background-size:20px; margin-right:15px;}
.trk_ply .st_cnr .fwd { width:30px; height:30px; float:left; background-image:url(../images/frd.png); background-repeat:no-repeat; background-size:30px; }
.sng_blk { width:100%; height:100%; position:absolute; z-index:9; display:inline-table; background-color:#f3f3f3;  padding:15px;}
.sng_img { width:100%; -webkit-box-shadow: -4px 0px 52px -9px rgba(0,0,0,0.75);
-moz-box-shadow: -4px 0px 52px -9px rgba(0,0,0,0.75);
box-shadow: -4px 0px 52px -9px rgba(0,0,0,0.75);}
.sng_img img { width:100%;}
.sng_blk #playListContainer { display:none;}
.sng_blk .progress { margin-bottom:2px;}
.sng_blk h2 { font-size:18px; text-align:center; color:#4b5460; margin:0 0 10px 0;}
.sng_blk h3 { font-family:'Futura-CondensedMedium'; color:#f4141a; font-size:20px; text-align:center; margin:0 0 15px0;}
.st_tit .audioDetails { padding:0px;}
.st_tit .songPlay { font-size:17px;}
.st_cnr .left { float:left;   margin-right: 15px; background-size: 25px; width: 25px; height: 25px;     background-image: url(../images/lft2.png);}
.st_cnr .play { float:left; width:17px;     margin-top: 2px; height:20px; background-size: 17px;     background-image: url(../images/pause2.png);}
.st_cnr .pauseAudio { background-image: url(../images/ply2.png);}
.st_cnr .right { float:right;     background-image: url(../images/rgt2.png);     background-size: 25px; width: 25px; height: 25px;}
.trk_ply #playerContainer { height:auto; }
.dwn_aro { width: 57px;  margin: 0 auto; margin-top: -27px; display: block; margin-bottom: 10px; height: 20px; background-repeat: no-repeat; /* float: left; */ background-image: url(../images/sng_bg.png); background-size: 58px;}
.controlsAudio { width:180px; margin:0 auto;}
.sdt_sol { width:100%; float:left;}
.sdt_sol .snk { width:30px; height:30px; float:left; background-image:url(../images/snk.png); background-size:30px; background-repeat:no-repeat;}
.sdt_sol .shtdt { width:30px; height:30px; float:right; background-image:url(../images/sd_shr.png); background-size:26px; background-repeat:no-repeat;}
.uparo {    width: 35px;  height: 20px; left: 47%; position: absolute; background-image: url(../images/sng_bg2.png); background-size: 34px; background-repeat: no-repeat; margin-top: -10px;}
@media only screen and (width: 768px) {
	.trk_inf .trk_img { height:auto;}
.trk_inf .trk_dt h2 { font-size:26px;}
.trk_inf .trk_dt h3 { font-size:24px;}
.shre { right:inherit;}
.snd_trks ul li a { font-size:22px;}
.snd_trks ul li a span { width:93%;}
.trk_ply .st_tit { font-size:24px; margin-top:22px;}
.trk_ply .st_tit { width:400px;}
.trk_ply .st_img { width:75px; margin-right:20px;}
.trk_ply .st_cnr { margin-top:25px;     width: 160px;}
.st_cnr .left {  margin-right: 34px;  background-size: 35px;  width: 35px; height: 35px;}
.st_cnr .play {  width: 22px;  margin-top: 3px; height: 34px; background-size: 22px;}
.st_cnr .right {  background-size: 35px; width: 35px; height: 35px;}
.uparo { left:50%;}
	
	
	 }
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	.trk_inf .trk_img { height:auto;}
.snd_trks ul li a { font-size:22px;}
.trk_inf .trk_dt h2 { font-size:23px;}
.trk_inf .trk_dt h3 { font-size:21px;}
	}
@media only screen and (min-width: 360px) and (max-width: 374px) {
	.trk_ply .st_tit {     font-size: 18px;}
.trk_ply .st_cnr .pse {     width: 20px; height: 20px;  margin-right: 10px;   background-size: 15px;}
.trk_ply .st_cnr .fwd {     width: 25px;  height: 20px; background-size: 25px;}
.trk_ply .st_cnr { width:96px;}
.trk_ply .st_img { margin-right:15px;}
.trk_ply .st_tit {     width: 126px;}
	 }
@media only screen and (min-width: 320px) and (max-width: 359px) {
	.trk_ply .st_tit {     font-size: 18px;     width: 102px;}
.trk_ply .st_cnr {     width: 95px;}
.trk_ply .st_cnr .pse {     width: 20px; height: 20px;  margin-right: 10px;   background-size: 15px;}
.trk_ply .st_cnr .fwd {     width: 25px;  height: 20px; background-size: 25px;}
.st_tit .songPlay { font-size:13px;}
	 }
