@charset "utf-8";
/* CSS Document */

/*RESETS*/
/*html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, detai-ls, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color:#333;
}

body { font-size: 62.5%; line-height: 1; font-family: Arial, Tahoma, sans-serif; }
 
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
 
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; } 
 
table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }
 
p { font-size: 1.2em; line-height: 1.0em;  font-family:'opensans_regular'; color:#fff; font-size:14px; }*/

/*RED COLOR = #ed1c24  */


@font-face {
    font-family: 'opensans_regular';
    src: url('../fonts/opensans_regular/opensans_regular.eot');
    src: url('../fonts/opensans_regular/opensans_regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans_regular/opensans_regular.woff') format('woff'),
         url('../fonts/opensans_regular/opensans_regular.ttf') format('truetype'),
         url('../fonts/opensans_regular/opensans_regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'opensans_bold';
    src: url('../fonts/opensans_bold/opensans_bold.eot');
    src: url('../fonts/opensans_bold/opensans_bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans_bold/opensans_bold.woff') format('woff'),
         url('../fonts/opensans_bold/opensans_bold.ttf') format('truetype'),
         url('../fonts/opensans_bold/opensans_bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'myriad';
    src: url('../fonts/myrid/myriad.eot');
    src: url('../fonts/myrid/myriad.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myrid/myriad.woff') format('woff'),
         url('../fonts/myrid/myriad.ttf') format('truetype'),
         url('../fonts/myrid/myriad.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face{font-family:'Roboto-Regular';src:url(../fonts/fonts/Roboto-Regular.eot);src:url(../fonts/fonts/Roboto-Regular.eot?#iefix) format('embedded-opentype'),url(../fonts/fonts/Roboto-Regular.woff) format('woff'),url(../fonts/fonts/Roboto-Regular.ttf) format('truetype'),url(../fonts/fonts/Roboto-Regular.svg#Roboto-Regular) format('svg')}


/* LANDING PAGE STYLES*/
body{ overflow-x:hidden !important; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family:'Roboto-Regular';}

* { outline:none !important;}
 	
	.preloaderCont{/*width: 5%;*/
    height: 5%;
    position: fixed;
    top: 47.5%;
    left: 43.5%;
	z-index:99999999;
    }

.preloaderLogo{ width: 36px;
    height: 36px;
    position:fixed;
	margin: 7px 7px;
    }


.preloader3 {
   width:50px;
   height:50px;
   display:inline-block;
   padding:0px;
   border-radius:100%;
   border:4px solid;
   
   position:fixed;
    border-top-color: #9c1d1f;
    border-bottom-color: #9c1d1f;
    border-left-color: rgba(200,200,200, 0.2);
   border-right-color:rgba(200,200,200, 0.2);
   -webkit-animation: preloader3 0.8s ease-in-out infinite alternate;
   animation: preloader3 0.8s ease-in-out infinite alternate;
}

@keyframes preloader3 {
   from {transform: rotate(0deg);}
   to {transform: rotate(360deg);}
}
@-webkit-keyframes preloader3 {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(360deg);}
}

 .thumbnail>img, .thumbnail a>img
 
 {
 background-image:url('../img/img_bg.jpg'); background-repeat:no-repeat; background-size:100%; background-position:0 50%;
 width:100% !important;
 
 }

.brd{border:1px solid #fff;}

.paddingsep{ padding:15px 0 0 15px;}

.center_align { text-align:center;}

.nopad{ padding:0 !important;}

.barsfont{ font-size:2em !important;}
/*/
.closebtn{width: 24px;
    height: 24px;
    position: absolute;
    border: 1px solid #fff;
    right: 8px;
    top: 8px; border-radius:100%; }
*/
.playbtn {
width: 50px;
    height: 50px;
    position: absolute;
    border: 1px solid #fff;
    right: 42%;
    margin-top: 26% !important;
    border-radius: 100%;
    display: inline-block; }
	
.durtn{ color:#666; text-align: right; font-size:12px;}

/*NEW STYLES*/

.sync_panel{ width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999999;
    padding-top: 10px;
    padding-bottom: 10px;
    /* height: 59px; */
    background-color: #333333;    display:none; }
.sync_panel h5 { text-align: center;
    font-weight: bold;
    color: #fff;
	padding-top: 9px;
    font-size: 15px;
    }
.sync_panel h5 a { width:20px; height:20px; position:absolute; top:-20px; left:50%;}

.sync_panel > .icons { margin:0 auto; width:98%; text-align:center;}

.seek_icons{ display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 0;}
.seek_icons li{ display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;}

.seek_icons li a{ width:25px; height:25px; margin:12px; display:block;  background-position:50%; background-repeat:no-repeat; background-size:100%; }
.sync_playbg{ background-image:url('../img/sync_play.svg');}
.sync_pausebg{ background-image:url('../img/sync_pause.svg'); }
.sync_seekbg{ background-image:url('../img/sync_seek.svg'); }
.sync_closebg{ background-image:url('../img/sync_close.svg'); }
.hide{display:none;}
.show{ display:block;}

.closebtn2{width: 27px;
    height: 27px;
    border: 3px solid #fff;
    position: absolute;
    top: 9px;
    right: 8px;
    background-image: url(../img/close_ico.png);
    background-size: cover; left: 8px;
    top: 8px;
    border-radius: 100%;
    z-index: 13;}
	
.dtlPgSearch{ display: inline-block;
    /* display: none; */
    position: absolute;
    right: 8px;
    top: 8px;
    width: 32px;
    height: 27px;
    z-index: 12;
	color: #fff;
}
.dtlPgSearch span{ font-size:26px;}


#castIcon{ display:inline-block; display:none; position:absolute; right:57px; top:8px; width: 28px;
    height: 27px;
    background-image: url(../img/pairing_icon.svg);
    background-size: 100%;
    background-repeat: no-repeat; z-index:12;}

/**/



.mainwrapper{ width:100%; min-height: 605px; height: auto !important; height: 550px; overflow:hidden; box-sizing:border-box; margin:0 auto; transition:all ease 0.2s;}

.header_home{ width:100%; height:65px; background-color:#141414; position:fixed; border-bottom: 1px solid #383838; z-index:9999; text-align:center; }
.landingLogo{ width:161px; height:51px;  display:inline-block; float:left; margin:5px 0 0 10px; background-image:url('../img/mobiLogo.png'); background-repeat:no-repeat;   background-position:0 50%;  }
.signinbtn{ width:100px; height:35px; display:block; float:right; margin:15px 10px 0 0; background-color:#9c1d1f; line-height:32px; text-align:center; color:#fff; font-family:'opensans_regular'; font-size:14px; border-radius:3px; border: 1px solid #9c1d1f; transition:all 0.2s ease-out;}
.signinbtn:hover{ transform:scale(1.1);}
/*Header*/

.banner_home{ width:100%; height:572px; background-color:rgba(0,0,0, 0.5); margin-top:65px; overflow:hidden;}
.bannercontent{ /*background-image:url('../img/banners/avengers.jpg'); */  transition: background 1s linear;background-size: cover; width:100%; height:572px; background-position:50%; position:relative; background-color:#000000;}
.blackscreen{ width:100%; height:200px; text-align:center;  box-sizing:border-box; 
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,1)));
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,1), rgba(0,0,0,1),rgba(0,0,0,1));
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1));
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1));
    background-image: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1));
    background-image: linear-gradient(top,rgba(0,0,0,0), rgba(0,0,0,1)); position:absolute; bottom:0 !important; }
.blackscreen2 {    width: 100%;
    height: 73px;
    text-align: center;
    box-sizing: border-box;
    /* border: 1px solid #f00; */
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25,25,25,0)), to(rgba(25,25,25,1)));
    background-image: -webkit-linear-gradient(top, rgba(25,25,25,0.0), rgba(25,25,25,1));
    background-image: -moz-linear-gradient(top, rgba(25,25,25,0), rgba(25,25,25,1));
    background-image: -ms-linear-gradient(top, rgba(25,25,25,0), rgba(25,25,25,1));
    background-image: -o-linear-gradient(top, rgba(25,25,25,0), rgba(25,25,25,1));
    background-image: linear-gradient(top,rgba(25,25,25,0), rgba(25,25,25,1));
    position: absolute;
    bottom: 0px !important; }

.bannerline{ text-align:center; color:#FFF; font-family:'opensans_bold'; font-size:32px;}
.bannertagline{  text-align:center; color:#FFF; font-family:'opensans_regular'; font-size:16px;}
.freebtn{ width:320px; height:45px; background-color:#9c1d1f; display:inline-block; text-align:center; line-height:45px; border-radius:3px; color:#fff; font-family:'opensans_regular'; font-size:16px; letter-spacing: 3px;}

.tabs{ width:100%; min-height:450px; height:450px; height:auto !important; background-color:#1a1a1a; text-align:center; overflow:hidden; padding-bottom:5px; }

.footer_home{ width:100%;min-height:100px; height:100px; height:auto !important; background-color:#101010; text-align:center; overflow:hidden;}

.footertxt{ color:#777; font-size:12px; }

.footerlinks{ list-style-type:none !important; padding:0; text-align:center; width:auto; /*min-width:315px;*/ display: inline-flex ;}
.footerlinks li a{ float:left; margin:7px;}
.copyrts{     color: #7d7d7d;
    font-family: 'opensans_regular';
    font-size: 12px;
    background-color: #000;
    padding: 7px;
    
    text-align: center;}
	
.sliderwrap{ width:100%; border:1px solid #f00; padding:10px 2px;}

#ex1Slider .slider-selection {
	background: #BABABA;
}

.loader-container{ width:100%; text-align:center; position:fixed; top:45%; box-sizing:border-box; z-index:9999999;}

.preloader4 {
   width:45px;
   height:45px;
   display:inline-block;
   padding:0px;
   border-radius:100%;
   border:3px solid;
   border-top-color:rgba(255,0,0, 0.65);
   border-bottom-color:rgba(255,0,0, 0.15);
   border-left-color:rgba(255,0,0, 0.65);
   border-right-color:rgba(255,0,0, 0.15);
   -webkit-animation: preloader4 0.8s linear infinite;
   animation: preloader4 0.8s linear infinite;
}
@keyframes preloader4 {
   from {transform: rotate(0deg);}
   to {transform: rotate(360deg);}
}
@-webkit-keyframes preloader4 {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(360deg);}
}



.loader-small{ width:100%; text-align:center; padding-top:10px; box-sizing:border-box; }

.preloader5 {
   width:20px;
   height:20px;
   display:inline-block;
   padding:0px;
   border-radius:100%;
   border:3px solid;
   border-top-color:rgba(255,0,0, 0.65);
   border-bottom-color:rgba(255,0,0, 0.15);
   border-left-color:rgba(255,0,0, 0.65);
   border-right-color:rgba(255,0,0, 0.15);
   -webkit-animation: preloader4 0.8s linear infinite;
   animation: preloader4 0.8s linear infinite;
}
@keyframes preloader5 {
   from {transform: rotate(0deg);}
   to {transform: rotate(360deg);}
}
@-webkit-keyframes preloader5 {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(360deg);}
}


.tablebtn{  width:60px; height:25px; background-color:#666; display:inline-block; text-align:center; line-height:25px; border-radius:3px; color:#000; font-family:'opensans_regular'; font-size:10px; }
.tablebtn:hover{ background-color:#9c1d1f;}

.tablecolor{ color:#999; font-size:12px;}


/*----------------------TABS-----------------------------------*/
/* Style the list */
.tabheader{ width:100%; height:85px; border-top: 1px solid #383838;
	border-bottom: 1px solid #383838; text-align:center; background-color:#141414;}



ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    
	height:84px;
	
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: eaeaea !important;
    text-align: center;
    padding: 55px 0 0 0;
    text-decoration: none;
    transition: 0.3s;
    font-size: 14px;
	height:83px;
	width:105px;
	font-family:'opensans_bold'; 
	
	
}

.cancelimg {  background-image:url(../img/cancel_inact.png); background-position:50% 20% ; background-repeat:no-repeat !important; display:inline-block;  border-bottom:3px solid transparent;}
.cancelimg:hover { background-image: url(../img/cancel_act.png); }


.devices {  background-image:url(../img/devices_inact.png); background-position:50% 20%; background-repeat:no-repeat !important; display:inline-block; border-bottom:3px solid transparent;}
.devices:hover { background-image: url(../img/devices_act.png);}

.price{ background-image:url(../img/price_inact.png); background-position:50% 20%; background-repeat:no-repeat !important; display:inline-block;  border-bottom:3px solid transparent;}
.price:hover { background-image: url(../img/price_act.png); }


/* Change background color of links on hover */
ul.tab li a:hover {border-bottom:3px solid #f00; color:#fff;}

/* Create an active/current tablink class */
ul.tab li a:focus, ul.tab li .active {border-bottom:3px solid #9c1d1f !important; color:#fff;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    
    border-top: none;
	text-align:center;
}
.cancellaptop{ width:300px; height:190px; background-image:url(../img/cancelimg.png); background-repeat:no-repeat; background-size:100%; display:inline-block; margin-top:30px; margin-bottom:30px;}


.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.defaulttab{display:block;}

.tabtxt{ color:#fff; font-family:'opensans_regular'; font-size:16px; padding:30px 0 20px 0;}

.imgcaption{color:#fff; font-family:'opensans_bold'; font-size:14px; }

.imgdesc{ color:#777; font-family:'opensans_regular'; font-size:14px; }


@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* HOME PAGE STYLES*/
.header_com{ width:100%; height:65px; background-color:rgba(0,0,0,0.7); position:fixed; border-bottom: 1px solid #383838; z-index:99999; text-align:center; }

.editbtn{ display:inline-block; position: absolute; right: 15px; top:7px; color:#eee; font-family:'opensans_regular'; font-size:14px; border-radius:3px;  transition:all 0.2s ease-out; padding: 12px;}
.editbtn:hover{ transform:scale(1.2); color:#fff;}


.donebtn{ display:inline-block; float:left; margin:21px 0px 0 15px; color:#eee; font-family:'opensans_regular'; font-size:14px; border-radius:3px;  transition:all 0.2s ease-out;}
.donebtn:hover{ transform:scale(1.2); color:#fff;}

.homeLogo{; width:161px; height:61px;   background-image:url('../img/mobiLogo.png'); background-repeat:no-repeat;  background-position:50% 50%; position: absolute;
    left: 40%;
    top: 5%;
    transform: translate(-50%, -5%);  }


.contentWrapList{ width:100%; height:auto !important;   padding:5px; overflow:hidden;  color:#aaa; text-align:center;  display:none; margin-top:65px;}
.contentWrap{ width:100%; height:auto !important; min-height:300px; padding:5px; overflow:hidden; margin-top:65px;  color:#aaa; text-align:center;  }

.details_Wrap{
 width:100%;  height:100vh;  /*padding:5px;*/ overflow:scroll;  top:0px; color:#aaa; text-align:center; position:fixed; display:none; z-index:999997; margin-top: 65px;padding-bottom: 65px;
}
.details_Wrap .playbtn { margin-top:20% !important;}
.detail_container
{
margin-top:2px; 
 width:100%;
 height:auto;
 overflow:hidden; 
}

.dummypad{ padding-top:40px !important;}

.addprofile{ font-size:36px; color:#222; transition:all ease-out 0.2s;}
.addprofile:hover{ transform:scale(1.2); }



.maleprofile{ width:120px; height:120px; display:inline-block; background-image:url('../img/profile_male.svg'); background-repeat:no-repeat; background-position:50% 50%; border:2px solid #eee; background-size:100%; transition:all ease-out 0.2s;}
.maleprofile:hover{ transform: scale(1.1);}

.femaleprofile{ width:120px; height:120px; display:inline-block; background-image:url('../img/profile_female.svg'); background-repeat:no-repeat; background-position:50% 50%; border:2px solid #eee; background-size:100%; transition:all ease-out 0.2s;}
.femaleprofile:hover{ transform: scale(1.1);}

.profileWrap{ width:300px; height:auto; min-height:200px;  margin:30px auto; overflow:hidden; padding:10px;}

.profiletitle{ color:#eee; font-size:12px; font-family:'opensans_regular'; font-size:12px; text-align:center; margin-top:7px; display:inline-block;}

/*CATEGORY PAGE*/

.user_profile_nav{ width:100%; height:85px; padding:30px 10px 10px 10px; border-bottom:1px solid #111;}
.user_profile_nav img{ width:15%;}

.username_nav{ display:inline-table; margin-left:10px; color:#aaa; font-family:'opensans_regular'; }

.nav { width:44px; height:32px; float:left; margin:15px 0 0 25px; }
.nav img { width:100%;}
.navrts{ color:#999; font-size:12px; ont-family:'opensans_regular'; webkit-font-smoothing:anti-aliased; }

.popUpoverlay{ position:fixed !important; top:0 !important; left:0 !important; right:0 !important; bottom:0 !important; background-color:rgba(0,0,0,1); z-index:999999;}
.container-fluid .span3 { width:48% !important; margin:0 1% 2% 1% !important;}
.srh { /*width:35px;*/ height:35px; }
.srh img { width:100%;}
.tit_blk { width:300px; float: left;}
.tit_blk h3 { font-weight:normal; font-size:26px; text-align:center; color:#fff;}
.shw_blk { width:100%; float:left;padding-bottom: 0px}
.shw_blk .shw_wrp { width:100%; margin:0 auto; position:relative;}
.shw_blk .span3 { width:100%; float:left; }
.shw_blk ul li a:focus, .shw_blk ul li a:active { border:none ;}
.shw_blk .carousel-control { width:5%; top:50%;}
.shw_blk .thumbnail { border:none; padding:0px; background-color:transparent;}
.shw_blk h3 { float:left; color:#fff; font-size:16px; margin-top:10px; margin-bottom:10px;}
.sc h3 { float:left; color:#fff; font-size:16px;  margin-left:4px;}
.shw_blk .blk1 { width:100%; float:left; position:relative; margin-bottom:5px;}
.shw_blk .carousel-control.right { background:none !important; right: -10px;}
.shw_blk .carousel-control.left { background:none !important; left:-10px;}
.scrh_itm { width:47%; float:left; margin:1% 1.5% 1% 1.5%;}
.genre_title{ width:180px; height:61px;  display:inline-block; text-align:center; color:#fff; font-family:'opensans_regular'; font-size:16px; padding-top:20px;}
.srch_sc { padding:0px !important;}
.nomarg{ margin:0 !important;}
.preloaderWrap{     /* padding: 15% 28%; */
    width: 80%;
    height: 2px;
    position: absolute;
    z-index: 10;
    margin: 4% 9%;
    text-align: center;
    padding-left: 33%;
}
/*.tab-content { position:relative; min-height:100px;}*/
.slt_block {        margin-top: 32px;
    float: left;
    height: 0px;
    margin-bottom: 20px;
    border-bottom: solid 1px #000;
    width: 100%;
	position: relative;}
.slt_blk {     width: 90px;
    float: left;
    position: absolute;
    top: -45px;
    left: 0px;
    z-index: 9999;}
.slt { padding: 5px 10px 5px 0; font-size:16px; color:#fff; background-image:url(../img/aro.png); background-repeat:no-repeat; background-position: 80px 50%; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
.slt_n { background-image:none;}
.slt_drp { margin:0; z-index:99999; padding:0px; background-color:#202020; -webkit-box-shadow: 2px 2px 5px 0.7px #000;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:   2px 2px 5px 0.7px #000;  /* Firefox 3.5 - 3.6 */
 box-shadow: 2px 2px 5px 0.7px #000;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */}
.slt_drp li { color:#fff; padding:10px 0 10px 5px; list-style:none; }
.slt_drp li a { color:#fff;  font-size:16px;}
.slt_tab { min-height:200px;}
#episodes { padding-top: 43px;}
.zoomcir{ width:3px; height:3px; border-radius:50px; background-color:#e21d28; -webkit-animation: scaling 0.2s infinite alternate; animation: scaling 0.2s infinite alternate; float:left; margin:5px; transition:all ease-out;}

.zoomcir2{ width:3px; height:3px; border-radius:50px; background-color:#e21d28; -webkit-animation: scaling 0.3s infinite alternate; animation: scaling 0.2s infinite alternate; float:left; margin:5px; animation-delay: 0.2s;}

.zoomcir3{ width:3px; height:3px; border-radius:50px; background-color:#e21d28; -webkit-animation: scaling 0.5s infinite alternate; animation: scaling 0.2s infinite alternate; float:left; margin:5px; animation-delay: 0.5s;}

.star_rate{ width:100%; margin:0 auto 10px auto;}
.star_img { width:20px; height:20px; float:left; margin-right:5px; background-position:50% 50%; background-repeat:no-repeat; background-size:100%;}
.star_blank{ background-image:url(../img/star_blank.png); }



.social { width:100%; height:532px;     background-color: rgba(0,0,0,0.6); position:absolute; top:65px; z-index:99; color:#fff;}
.social h2 { font-size:26px; font-weight:normal; padding-top:60px; color:#c4c4c4; text-align:center; font-family:'myriad', Arial, Helvetica, sans-serif; }
.social_wrp { width:255px; margin:0 auto; margin-top:55px;}
.social_wrp a { width:70px; height:91px; margin-top:20px; float:left; background-repeat:no-repeat; background-size: 70px; margin-right:15px;}
.fb {   background-image:url(../images/gal_fb.png);}
.googlep {   background-image:url(../images/pop_gplus.png);}
.pinterest{ background-image:url(../images/pop_pintrest.png); }
.twitter {   background-image:url(../images/gal_twt.png);}
.youtube {   background-image:url(../img/youtube_ico.png); margin-right:0px;}
.instagram {   background-image:url(../images/gal_ing.png);     margin-left: 42px;}
.soundcloud {   background-image:url(../img/soundcloud_ico.png);}
.fotter { width:100%; height:80px; background-color:#0f0f0f; padding:15px; display:inline-block; margin-bottom:70px;}
.fotter ul { width:300px; margin:0px auto; padding:0px; text-align: center;}
.fotter ul li { list-style:none; /*float:left;*/ margin:0 5px; display: inline-flex;}
.fotter ul li a { color:#9f9f9f; font-size:13px;}
.fotter p { color:#9f9f9f; width:100%; float:left; text-align:center; margin-top:10px; font-size: 14px;}
.shw_blk h3 { font-size: 18px; text-transform:uppercase; font-family:'myriad', Arial, Helvetica, sans-serif; margin:10px 1.5% 0px 1.5%; padding-left:5px;  z-index: 9999; width: 100%; text-align: left; line-height: 30px; font-style:italic; font-weight:normal;}
.video_cnt { color:#8f8f8f; font-size:14px; margin:0 0 10px 0; padding-left:10px; text-align:left;}
.video_tit { position: absolute;  color: #fff; bottom: 0px; left:10px;  z-index: 999999;}
.shw_blk .thumbnail { position:relative;}
.sharedIcons{};
/*.play { position:absolute; top:30%; left:39%; width:72px; height:72px; background-image:url(../img/play2.png); background-repeat:no-repeat; background-size:72px;}*/
.blk1 .slick-slide { height:auto;}
.blk1 .carousel-inner {     overflow: inherit;}
.vid_ctls { width:100%; float:left;}
.vid_ctls .arows { width:35%; float:left; margin-left:5%;}
.vid_ctls .arows a { width: 20px; height: 20px; float: left; padding-right: 20px; background-repeat: no-repeat; padding-top: 13px; margin-top: 0 !important; background-position: 50% 60%; box-sizing: content-box;}
.vid_ctls .arows .ahid { opacity: 0.30; }
.vid_ctls .arows .clsDetails { background-image:url(../img/cls.png); background-size:14px;}
.vid_ctls .arows .leftDetails { width:11px; height:17px; background-image:url(../img/left_aro.png); background-size:10px; background-position: 50% 69% !important;}
.vid_ctls .arows .lefth { width:11px; height:17px; background-image:url(../img/left_aroh.png); background-size:11px; margin-top: 12px;}
.vid_ctls .arows .right { width:11px; height:17px; background-image:url(../img/right_aro.png); background-size:10px;background-position: 50% 69% !important;}
.vid_ctls .arows .righth { width:11px; height:17px; background-image:url(../img/right_aroh.png); background-size:11px; margin-top: 12px;}
.shr_blk {float: right; margin-top: 12px; }
.shr_blk h2 { font-size: 15px; color:#fff; margin: 0px; float: left; margin-right: 14px; }
.shr_blk a { float:left; width:25px; height:19px; background-repeat:no-repeat; margin-right:5px;}
.shr_blk .gal_fb { width:15px; background-image:url(../img/gal_fb.png); background-size: 8px;}
.shr_blk .gal_twt { background-image:url(../img/gal_twt.png); background-size: 20px;     width: 30px;}
.shr_blk .gal_ing { background-image:url(../img/gal_ing.png); background-size: 15px; width:19px;}
.vid_tittle { float:left; font-size:20px; margin-left:15px; color:#fff;     margin: 30px 0 15px 10px;}
.like_blk {  margin-left:auto; margin-top:18px; width:300px; margin-right:auto;}
.like_blk a { font-size:16px; color:#dbdbdb; margin-right:20px; padding-left:30px; text-decoration:none; background-position:0 50%;  float:left;    width: 78px; height:20px; background-repeat:no-repeat;}
.like_blk .like { background-image:url(../img/like_ico.png); background-size: 25px; }
.like_blk .fav { background-image:url(../img/fav_ico.png); background-size: 20px; width:95px; }
.like_blk .shr { background-image:url(../img/shr_ico.png); background-size: 20px; margin-right:0px; }
.events_block { width:100%; float:left;}
.events { text-align:left; margin: 5%; border: solid 1px #4a4a4a; width: 90%; float: left; padding: 12px; margin-bottom: 20px; background-color: #171717;}
.events img { width:100%;}
.events h3 { font-size:24px; text-align:left; font-weight:bold; color:#fff; margin-bottom:10px;}
.events p { font-size:14px;  color:#fff; margin-bottom:10px;}
.events p span { float:left; margin-left: 52px;  margin-top: -18px;}
.rgstr { display: inline-block; width: 100%; text-align: center; margin-top: 15px;}
.rgstr a { color:#fff; font-size:12px; text-transform:uppercase; font-weight:bold; padding:8px 15px; background-color:#9c1d1f; border-radius:3px;}
.gallery_block { width:100%; float:left; margin-bottom:15px;}
.gallery { margin: 1% 3% 0% 0%; width: 94%; float: left; background-color: #171717;}
.gallery img { width:100%;}
.gal_det { width:100%; float: left; margin-top:20px;}
.gal_det img { float:left; width:100%;}
.gal_det h3 { text-align: center; font-weight:normal; font-size:14px; margin:10px 0 0 0; color:#fff;     display: inline-block;}
.shop { background-color:#fff;}
.shop_block { width:100%; float:left; padding:2%;}
.shop_block .crt { width:25px; height:25px; background-image:url(../images/crt_ico.png); background-size:24px; float:right; background-repeat:no-repeat;}
.shop_block .shop_item { width:100%; float:left;}
.shop_block .shop_item img { width:100%;}
.shop_block .shop_item h2 a { font-size:20px; color:#9c1d1f; font-weight:bold; }
.cart_tit { width:100%; float:left;}
.back { font-size:16px; color:#9c1d1f; float:left;}
.ctgry { width:100%; position:fixed; bottom:0px !important; height:70px; background-color:#000; border-top:solid 1px #727272; z-index:999999;}
.ctgry ul { margin:0px; padding:0px; width:300px; margin:0 auto;}
.ctgry ul li { list-style:none; margin:14px 15px 0 15px; float:left;}
.ctgry ul li a { width:45px; height:45px; color:#808080; float:left; text-align:center; font-size:13px; padding-top:28px;     background-position: top center; }
.ctgry .ct_movie { background-image:url(../img/cat_movies.png); background-repeat:no-repeat; background-size:30px;}
.ctgry .ct_shows { background-image:url(../img/cat_shows.png); background-repeat:no-repeat; background-size:30px;}
.ctgry .ct_photos { background-image:url(../img/cat_photos.png); background-repeat:no-repeat;    background-size: 25px; background-position: 50% 1px;}
.ctgry .ct_music { background-image:url(../img/cat_music.png); background-repeat:no-repeat;    background-size: 17px;}

.gallery{width: 100% !important}
.shareIcons{
 width: 25px;
    height: 25px;
    display: inline-block;
    margin: 10px 4px;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all ease-out 0.2s;
}
.myClass { display: none !important; }
.myClass2 { background-color: #fff !important; }
.myClass3 { margin-top: 0px !important; }
.add_adr .ui-shadow {color: #fff;}

@-webkit-keyframes scaling {
From {
    -webkit-transform: scale(1.0);
	opacity:0;
}
To {
    -webkit-transform: scale(2.0);
	opacity:1;
}






 

